<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qibla.muslimday.app2025">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.ramadan.BackgroundRamadanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mosque.MosqueActivity"
            android:exported="false"
            android:label="@string/title_activity_islam_map"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".ui.quran.bookmark.BookMarkQuranActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.share.ShareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.azkar.daily.AzkarDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.duas.bookmark.BookMarkDuasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.azkar.bookmark.BookMarkAzkarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.azkar.AzkarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.duas.daily.DailyDuasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.quran.quranDetail.QuranDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zakat.ZakatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zakat.CurrencyUnitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.settings.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.tasbih.TasbihActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.prayingTimeAdjustment.PrayingTimeAdjustment"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.permission.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.duas.DuasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.azkar.AzkarSubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.allah99name.Allah99NameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.duas.DuasSubAcitivy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.uninstall.UninstallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.uninstall.UninstallReasonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.PrayBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.PrayService"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="@string/permission_description" />
        </service>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />
    </application>

</manifest>